**Question 1: Write a Python program to count the number of elements in a list without using len.**

In [ ]:
a = ['apple','Banana','grapes','mango','pineapple','orange','watermelon']
count =0
for i in a:
    count=count+1
print(f'the number of elements in a list:{count}')

the number of elements in a list:7

***Question 2: Write a Python program to find the maximum and minimum values in a given list.***

In [ ]:
def max_value(a):
    max_count=a[0]
    for value in a:
        if value > max_count:
            max_count=value
    return max_count

def min_value(b):
    min_count = b[0]
    for values in b:
        if values < min_count:
            min_count =values
    return min_count

mylist = [1,2,3,4,8,89,79,56,90,100]

print(f'maximun value:{max_value(mylist)}')
print(f'minimun value:{min_value(mylist)}')

maximun value:100
minimun value:1

***Question 3: Write a Python program to remove the first occurrence of a specified element from a list.***

In [ ]:
a =[11,15,23,45,67,68,3,66,81,9,31]
a.remove(67)
print(a)

[11, 15, 23, 45, 68, 3, 66, 81, 9, 31]

***Question 4: Write a Python program to find the average of all the elements in a list.***

In [ ]:
a = [10,20,30,40,50,60,70,80]
a = sum(a) / len(a)
print(f'find the average of all elements from list: {round(a, 2)}')

find the average of all elements from list: 45.0

***Question 5: Write a Python program to check if a list is empty or not.***

In [ ]:
lst = []
if not lst:
    print("list is empty")
else:
    print("list is not empty")

list is empty

In [ ]:
lst = [10]
if not lst:
    print("list is empty")
else:
    print("list is not empty")

list is not empty

***Question 6:  Write a Python program to find the index of a specified element in a list.***

In [ ]:
a = [5,23,45,67,45,68,3,6,8,9,31,200,500]
print(a.index(200))

11

***Question 7: Write a Python program to find which number is palindrome in below given list .***

In [ ]:

a= [134, 121, 155,111]
def palindrome(n):
    return str(n) == str(n)[::-1]

for number in a:
    if palindrome(number):
        print(f'{number} is a palindrome')
    else:
        print(f'{number} is not a palindrome')

134 is not a palindrome
121 is a palindrome
155 is not a palindrome
111 is a palindrome

***Question 8: Write a Python program to find the common elements between two lists.***

In [ ]:
a = [10,23,45,67,51,68,3]
b = [68,3,1,2,45,64,10]
for i in a:
    if i in b:
        print(i,end=" ")

10 45 68 3

***Question 9: Write a Python program to remove the duplicates from a list.***

In [ ]:
a=[20,4,33,22,33,55,4,20,51]
new_values=[]
[new_values.append(i) for i in a if i not in new_values]
print('duplicates numbers removed from list',new_values)

duplicates numbers removed from list [20, 4, 33, 22, 55, 51]

***Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]***

In [ ]:
a = [80,70,60,50,40,30,20,10]
a.sort()
print(a)

[10, 20, 30, 40, 50, 60, 70, 80]