**1.Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only.**

In [6]:
a = 100
b = 300
product = a * b
print("product of a and b:",product)
sum = a + b
print("sum of a and b:",sum)
if product > 1000:
    print("sum value is:",sum)
elif product < 1000:
    print("product value is:",product)

product of a and b: 30000
sum of a and b: 400
sum value is: 400

**2.Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number.**

Expected output:
-----------------
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [9]:
cur_no = 10
previous_no = 0
for i in range(0,cur_no):
    sum = i + previous_no
    print("current number",i,"previous number",previous_no,"Sum:",sum)
    previous_no = i

current number 0 previous number 0 Sum: 0
current number 1 previous number 0 Sum: 1
current number 2 previous number 1 Sum: 3
current number 3 previous number 2 Sum: 5
current number 4 previous number 3 Sum: 7
current number 5 previous number 4 Sum: 9
current number 6 previous number 5 Sum: 11
current number 7 previous number 6 Sum: 13
current number 8 previous number 7 Sum: 15
current number 9 previous number 8 Sum: 17

**3.Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string**

Example :
("pynative", 4) so output must be tive.

Note: n must be less than the length of the string.

In [10]:
# using len and index i did this based on example and note
strn = "pynative"
n = 4
print(strn[n:])

tive

**4.Given a list of numbers, return True if first and last number of a list is same**
Expected Output:
-------------------------------------

Given list is
a =  [10, 20, 30, 40, 10]
b = [10 , 20 , 30 , 40, 10 ]
result is True

Given list is  
a = [10, 20, 30, 40, 50]
b = [11 , 21 , 31 , 41 , 51 ]
result is False

In [11]:
a =  [10, 20, 30, 40, 10]
b = [10 , 20 , 30 , 40, 10 ]
# using index in lists
if a[0] == a[4]:
    print(" True")
else:
    print("first and last number of a list is not same ")

 True

In [12]:
a = [10, 20, 30, 40, 50]
b = [11 , 21 , 31 , 41 , 51 ]
# using index in lists
if b[0] == b[4]:
    print(" True")
else:
    print("False ")

False

**5.# Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order**

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]


Expected output:
-----------------
10 400
20 300
30 200
40 100

In [13]:
# zip going to take 2 list at same time
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in zip(list1,list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

**6.Remove empty strings from the list of strings**
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Expected output:
----------------------
["Mike", "Emma", "Kelly", "Brad"]

In [14]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
result = []
for i in list1:
    if i in " ":
        pass
    else:
        result.append(i)
print(result)

['Mike', 'Emma', 'Kelly', 'Brad']